﻿@using DA.Website.Common.CustomSecurity;
@{
	ViewBag.Title = "Accueil";
	ViewBag.Current = "Accueil";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/themes/base/theme.css" rel="stylesheet" />
<link href="~/Content/themes/base/base.css" rel="stylesheet" />

<h2 class="page-title"><span>@ViewBag.Title</span></h2>

<div class="divHome">
	<div class="divHomeImage">
		<img src="~/Content/Img/MainImage.png" style="width: 100%;" />
	</div>
	<div class="divHomeMessage">
		@if (SimpleSessionPersister.CurrentUser.ProfileID == (int)DA.Website.Common.UserRole.Externe)
		{
			<div id="divMsg" style="text-align: justify;">
				<p>
					This application is the secure tool specifically created by the Capgemini Group to support the updating
					provision of employees in France of an additional alert system to existing systems and its operational deployment.
				</p>
				<p>
					From the reception and listening to the expression of an individual suffering, the application is the chosen technical instrument
					to allow the actors of the system to collaborate in the search for a coherent and effective help to bring to the employee.
				</p>
				<p>
					In order to allow you to make the best use of this application, both in terms of data recording and analysis
					for prevention purposes, it is important that you follow certain rules:
				</p>
				<ul>
					<li>
						<span class="msgHighlight">Observez</span>
						the time necessary to properly complete the various fields offered
					</li>
					<li>
						Take care<span class="msgHighlight">
							to inform the CHSCT entity and perimeter of the patient
						</span>.
						It is indeed a discriminating element to make the files confidential.
					</li>
					<li>
						<span class="msgHighlight">Use time for reflection</span>

						sufficient before entering the measures and comments in the space reserved for your report
					</li>
					<li>
						Don't forget to <span class="msgHighlight"> select the keywords </span>
						that you deem adequate (drop-down menu proposed) at the end of your report
					</li>
					<li>

						Never enter a name and / or contact details in the report. <span class="msgHighlight"> Anonymity must be preserved </span>
						in these input spaces
					</li>
				</ul>

				<p style="font-weight: bold">
					The central coordination of the complementary alert system is at your disposal for any questions.
				</p>
			</div>
		}
		else if (SimpleSessionPersister.CurrentUser.ProfileID == (int)DA.Website.Common.UserRole.RelaiAlerte)
		{
			<div id="divMsgRA" style="text-align: justify;">
				<p>
					This application is the secure tool specifically created by the CAPGEMINI Group to support the updating
					provision of employees in France of an additional alert system to existing systems and its operational deployment.
				</p>
				<p>
					A partir de la réception et de l’écoute de l’expression d’une souffrance individuelle, l’application est l’instrument technique choisi
					pour permettre aux acteurs du dispositif de collaborer à la recherche d’une aide cohérente et efficace à apporter au salarié.
				</p>
				<p>
					Afin de vous permettre une utilisation optimale de cette application, tant au niveau de l’enregistrement des données que de leur analyse
					à des fins de prévention, il est important que vous respectiez certaines règles :
				</p>
				<ul>
					<li><span class="msgHighlight">Utilisez un temps de réflexion</span> suffisant avant de saisir les mesures et commentaires dans l’espace réservé à vos comptes rendus (initiaux et de clôture)</li>
					<li>N’oubliez pas de <span class="msgHighlight">sélectionner les mots-clefs</span> que vous jugez adéquats (menu déroulant proposé) à la fin de votre compte-rendu initial</li>
					<li>Ne saisissez jamais de nom et/ou de coordonnées dans les comptes rendus. <span class="msgHighlight">L’anonymat doit être préservé</span> dans ces espaces de saisie</li>
					<li>N’oubliez pas de <span class="msgHighlight">transmettre le dossier pour clôture</span> à la coordination centrale du dispositif complémentaire d’alerte.</li>
				</ul>

				<p style="font-weight: bold">La coordination centrale du dispositif complémentaire d’alerte est à votre écoute pour toute question.</p>
			</div>
		}
		else
		{
			//For Admin
			<div id="divMsgAdmin" style="text-align: justify; padding-top:70px;">
				<p>
					Cette application est l’outil sécurisé spécifiquement créé par le Groupe CAPGEMINI pour accompagner la mise à disposition des salariés en France
					d’un dispositif d’alerte complémentaire aux dispositifs existants et son déploiement opérationnel.
					<br /><br />
				</p>
				<p>
					A partir de la réception et de l’écoute de l’expression d’une souffrance individuelle, l’application est l’instrument technique choisi pour permettre
					aux acteurs du dispositif de collaborer à la recherche d’une aide cohérente et efficace à apporter au salarié.
					<br /><br />
				</p>

				<p style="font-weight: bold">La coordination centrale du dispositif complémentaire d’alerte est à votre écoute pour toute question.</p>
			</div>
		}
	</div>

	